.DS_Store
Thumbs.db
system-decision-record/.obsidian/workspace.json
system-decision-record/.obsidian/graph.json
qgis/base-data/*
qgis/template_attachments.zip
qgis/template.qgs~
cases/
*.drawio.bkp
*.drawio.dtmp
